USE [master]
GO
/****** Object:  Database [WebDatabase]    Script Date: 3/5/2018 7:35:44 PM ******/
CREATE DATABASE [WebDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WebDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WebDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebDatabase]
GO
USE [WebDatabase]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 3/5/2018 7:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DeptID] [int] NOT NULL,
	[DeptName] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/5/2018 7:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DoB] [date] NOT NULL,
	[Gender] [nvarchar](1) NOT NULL,
	[DeptID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 3/5/2018 7:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[ID] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Departments] ([DeptID], [DeptName]) VALUES (1, N'Accounting')
INSERT [dbo].[Departments] ([DeptID], [DeptName]) VALUES (2, N'Engineering')
INSERT [dbo].[Departments] ([DeptID], [DeptName]) VALUES (3, N'Human Resource')
INSERT [dbo].[Employees] ([EmpID], [Name], [DoB], [Gender], [DeptID]) VALUES (1, N'Jenny', CAST(N'1990-06-12' AS Date), N'F', 1)
INSERT [dbo].[Employees] ([EmpID], [Name], [DoB], [Gender], [DeptID]) VALUES (2, N'Johnson', CAST(N'1985-02-28' AS Date), N'M', 2)
INSERT [dbo].[Employees] ([EmpID], [Name], [DoB], [Gender], [DeptID]) VALUES (3, N'Lydia', CAST(N'1989-12-03' AS Date), N'F', 2)
INSERT [dbo].[Logins] ([ID], [Username], [Password], [CreatedDate], [LastLoginDate]) VALUES (1, N'abc', N'123', CAST(N'2018-03-02T10:51:57.203' AS DateTime), CAST(N'2018-03-05T19:12:25.773' AS DateTime))
INSERT [dbo].[Logins] ([ID], [Username], [Password], [CreatedDate], [LastLoginDate]) VALUES (2, N'xyz', N'321', CAST(N'2018-03-02T10:52:23.810' AS DateTime), NULL)
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Department] FOREIGN KEY([DeptID])
REFERENCES [dbo].[Departments] ([DeptID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Department]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD CHECK  (([Gender]='M' OR [Gender]='F'))
GO
/****** Object:  StoredProcedure [dbo].[Validate_User]    Script Date: 3/5/2018 7:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Validate_User]
      @Username NVARCHAR(20),
      @Password NVARCHAR(20)
AS
BEGIN
      SET NOCOUNT ON;
      DECLARE @UserId INT, @LastLoginDate DATETIME
     
      SELECT @UserId = ID, @LastLoginDate = LastLoginDate
      FROM Logins WHERE Username = @Username AND [Password] = @Password
     
      IF @UserId IS NOT NULL
      BEGIN
            UPDATE Logins
            SET LastLoginDate = GETDATE()
            WHERE ID = @UserId
            SELECT @UserId [UserId] -- User Valid
      END
      ELSE
      BEGIN
            SELECT -1 -- User invalid.
      END
END
GO
USE [master]
GO
